@import "../site-builder-base";
//
// Three Regions 6-2-4
//
// First region  : 6 grid columns.
// Second region : 2 grid columns.
// Third region  : 4 grid columns.
// ---------------------------------------------------------------------------

.threecol-6-2-4 {

  // Two active regions.
  .arc--2 .l-r:last-child {
    @include last;
  }

  // Three active regions.
  .arc--3 {
    .l-r {
      &:nth-child(2) {
        @include span(2 of 12);
      }

      &:last-child {
        @include span(4 of 12 last);
      }
    }
  }

  // Two and tree active regions.
  .arc--2 .l-r,
  .arc--3 .l-r:first-child {
    @include span(6 of 12);
  }
}
