@import '../base';

@media #{$wide} {
  .ds-3col-stacked {
    > .group-header,
    > .group-footer {
      clear: both;
    }

    > .group-left,
    > .group-right,
    > .group-middle {
      float: $flow-from;
      width: 23.5%;
      margin-#{$flow-to}: 2%;
    }

    > .group-middle {
      width: 49%;
    }

    > .group-right {
      margin-#{$flow-to}: 0;
    }
  }
}
