.threecol-5-2-5 .arc--2 .l-r { width: 57.62712%; float: left; margin-right: 1.69492%; }
.threecol-5-2-5 .arc--2 .l-r:last-child { width: 40.67797%; float: right; margin-right: 0; }
.threecol-5-2-5 .arc--3 .l-r { width: 40.67797%; float: left; margin-right: 1.69492%; }
.threecol-5-2-5 .arc--3 .l-r:nth-child(2) { width: 15.25424%; float: left; margin-right: 1.69492%; }
.threecol-5-2-5 .arc--3 .l-r:last-child { float: right; margin-right: 0; }
