/**
 * Images
 ============================================================================ */

// Set styles for Drupal core data-align classes. These are applied using
// the CKEditor (wysiwyg). When captions are used images are wrapped in
// a figure element.
img,
figure {
  &.align-left {
    @include output-rhythm(margin, 0 $medium $medium 0);
  }

  &.align-right {
    @include output-rhythm(margin, 0 0 $medium $medium);
  }

  &.align-center {
    @include output-rhythm(margin-bottom, $medium);
  }

  &[class*="align-"] {
    clear: both;
  }
}
