/**
 * Menus in the Leaderboard region.
 ============================================================================ */

// Region or row specfic menu overrides
.pr-leaderboard__leaderboard {

  .block-menu {
    @include clearfix;
    margin: 0;
  }

  @include list-horizontal($flow-from, $margin: (t: $x-small, r: $medium, b: $x-small, l: 0), $list-item-selector: '.menu__item');

  .menu__link:after {
    display: none;
  }
}

