// Genearator setttings appearance.

#edit-generate-options {
  margin-top: 20px;
}

#edit-generate-generate-type {
  min-width: 200px;
}

.generate-type__description {
  margin-top: 10px;
}

#edit-generate {
  ul.tips,
  div.description,
  .form-item .description {
    color: #a6a5a1;
  }
}

#block-seven-help {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  word-wrap: normal;
  font: 0/0 a;
}

.messages {
  code, pre, kbd {
    font-size: 1em;
  }
}
