/**
 * Base
 * - set element global styles, bascially whenever this element appears
 * it should look like this by default.
 ========================================================================== */

// Establish baseline
@include establish-baseline;


html,
body {
  height: 100%;
}


html {
  font-family: $base-font-family;
  @include adjust-leading-to(4);
}


body {
  @include adjust-font-size-to($medium);
}


// By default AT uses border-box globally. All the layouts use it also, i.e. susy is configured
// to use border-box as opposed to it's normal default of content-box.
* {
  box-sizing: border-box;
}


// Set a global margin bottom, strip other margins.
ul,
ol,
dd,
dl,
p,
figure,
pre,
table,
hr,
form,
fieldset {
  @include output-rhythm(margin, 0 0 $large);
}


// Headings.
#{headings(all)} {
  @include output-rhythm(margin, 0 0 $medium);
}


#{headings(1,4)} {}


#{headings(1,3)} {
  font-weight: $font-weight-normal;
}


#{headings(4,6)} {
  font-weight: $font-weight-semibold;
}


h1, .h1 {@include adjust-font-size-to($xxx-large)}
h2, .h2 {@include adjust-font-size-to($xx-large)}
h3, .h3 {@include adjust-font-size-to($x-large)}
h4, .h4 {@include adjust-font-size-to($large)}
h5, .h5 {@include adjust-font-size-to($medium)}
h6, .h6 {@include adjust-font-size-to($small)}


// Using the small element to control font size, an idea lifted from Bootstrap.
h1 small, .h1 small {@include adjust-font-size-to($x-large)}
h2 small, .h2 small {@include adjust-font-size-to($large)}
h3 small, .h3 small,
h4 small, .h4 small {@include adjust-font-size-to($medium)}


// Paragraph.
p {}


// Flexible images
img {
  height: auto;
  line-height: 0;
  max-width: 100%;
  display: inline-block;
}


// Global caption style.
figcaption {
  @include adjust-font-size-to($small);
  @include output-rhythm(padding, $xx-small 0);
}


// Remove the gap between images, videos, audio and canvas and the bottom of
// their containers: h5bp.com/i/440
audio,
canvas,
img,
video {
  vertical-align: middle;
}


// Links.
a {
  text-decoration: none;
  cursor: pointer;

  &:active,
  &:hover {
  }

  &:link,
  &:visited {
  }

  &:active,
  &.active {
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}


// Equalize margins for indented elements.
ul,
ol,
dl {
  @include output-rhythm(padding-#{$flow-from}, $xxxx-large); // LTR
  padding-#{$flow-to}: 0;
}

// Definition lists.
dt {
  font-weight: $font-weight-semibold;
}

dd {
  @include output-rhythm(margin-left, $medium); // LTR

  @at-root [dir="rtl"] dd {
    margin-left: 0;
    @include output-rhythm(margin-right, $medium);
  }
}


// Blockquotes, Bootstrap style.
blockquote {
  @include output-rhythm(padding, $medium);
  @include output-rhythm(margin-#{$flow-from}, $xxxx-large); // LTR, match list indent.

  margin-#{$flow-to}: 0;
  border-#{$flow-from}: 5px solid; // LTR

  p {
    @include adjust-font-size-to($large);
    font-weight: $font-weight-light;

    &:first-child {
      margin-top: 0;

      &:before {
        font-family: FontAwesome, sans-serif;
        content: $fa-var-quote-left;  // LTR
        display: inline-block;
        padding: 0 5px 0 0;  // LTR
        margin: 0;
        text-align: $flow-from; // LTR
        @include output-rhythm(width, $large);
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  small {
    display: block;
    @include adjust-font-size-to($small);

    &:before {
      content: '\2014 \00A0'; // EM DASH, NBSP
    }
  }

  // Float right with text-align: right
  &.pull-right {
    padding-#{$flow-to}: gutters();
    padding-#{$flow-from}: 0;
    border-#{$flow-to}: 5px solid;
    border-#{$flow-from}: 0;

    p,
    small {
      text-align: #{$flow-to};
    }

    small {
      &:before {
        content: '';
      }
      &:after {
        content: '\00A0 \2014'; // NBSP, EM DASH
      }
    }
  }
}


// A better looking default horizontal rule
hr {
  height: $border-width;
  border: 0;
  border-top: $border-width $border-style;
  padding: 0;
  box-sizing: border-box;
}


/* Set hidden styles for non-supporting browers */
*[hidden] {
  display: none;
}


/* Webfont smoothing */
:before {
  @include font-smoothing();
}
