/**
 * Form Tables
 * Table select and table drag are form elements.
 ========================================================================== */

// TODO analyse colors for table drag
// use rem units?
// use compass ryhthm? will it work?

// Table drag.
tr {
  &.drag {
    background-color: #fffff1;

    &-previous {
      background-color: #ffd;
    }
  }
}

a.tabledrag-handle .handle {
  height: auto;
  margin: -0.2em 0.5em 0;
  width: auto;
}

body div.tabledrag-changed-warning {
  margin-bottom: 0.5em;
}


// Table delect.
tr.selected td {
  background: #ffc;
}

td,
th {
  &.checkbox {
    text-align: center;
  }
}


// Strip vertical margins inside tables.
tr {
  .form-item {
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap;
  }
}
