{#
/**
 * @file
 * Adaptivetheme implementation for a single local action link.
 * Remove the normla li wrapper to get parity with other action
 * links such as forum, also we just don't need wrapper attributes?
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - link: A rendered link element.
 *
 * @see template_preprocess_menu_local_action()
 *
 * @ingroup themeable
 */
#}
<div class="action-links__button">{{ link }}</div>
