.threecol-7-2-3 .arc--2 .l-r:last-child { width: 40.67797%; float: right; margin-right: 0; }
.threecol-7-2-3 .arc--3 .l-r:nth-child(2) { width: 15.25424%; float: left; margin-right: 1.69492%; }
.threecol-7-2-3 .arc--3 .l-r:last-child { width: 23.72881%; float: right; margin-right: 0; }
.threecol-7-2-3 .arc--2 .l-r, .threecol-7-2-3 .arc--3 .l-r:first-child { width: 57.62712%; float: left; margin-right: 1.69492%; }
