.threecol-4-3-5 .arc--2 .l-r { width: 57.62712%; float: left; margin-right: 1.69492%; }
.threecol-4-3-5 .arc--3 .l-r:first-child { width: 32.20339%; float: left; margin-right: 1.69492%; }
.threecol-4-3-5 .arc--3 .l-r:nth-child(2) { width: 23.72881%; float: left; margin-right: 1.69492%; }
.threecol-4-3-5 .arc--2 .l-r:last-child, .threecol-4-3-5 .arc--3 .l-r:last-child { width: 40.67797%; float: right; margin-right: 0; }
