@import "../site-builder-base";
//
// Three Regions 4-5-3
//
// First region  : 4 grid columns.
// Second region : 5 grid columns.
// Third region  : 3 grid columns.
// ---------------------------------------------------------------------------

.threecol-4-5-3 {

  // Two active regions.
  .arc--2 {
    .l-r {
      @include span(7 of 12);

      &:last-child {
        @include span(5 of 12 last);
      }
    }
  }

  // Three active regions.
  .arc--3 {
    .l-r {
      &:first-child {
        @include span(4 of 12);
      }

      &:nth-child(2) {
        @include span(5 of 12);
      }

      &:last-child {
        @include span(3 of 12 last);
      }
    }
  }
}
