// Off Canvas
@mixin offcanvas($oc-position: left, $width: 15em, $arrows: false) {

  $pad-dir: padding-right;
  $transform_block: translate(-#{$width}, 0);
  $transform_page: translate($width, 0);

  @if $oc-position == right {
    $pad-dir: padding-left;
    $transform_block: translate($width, 0);
    $transform_page: translate(-#{$width}, 0);
  }

  .ms-offcanvas {

    > .page {
      transition: $transition_global;
    }

    .rm-toggle {
      float: $oc-position;

      &:before {
        font-family: FontAwesome, sans-serif;
        content: $menu-hamburger;
        @include output-rhythm(width, $medium);
        @include output-rhythm($pad-dir, $xx-small);
      }
    }

    .rm-block__content {
      opacity: .001;
      #{$oc-position}: 0;
      transform: $transform_block;
      transition: $transition_global;
    }

    // Menu is open.
    &.rm-is-open {
      > .page {
        position: fixed;
        transform: $transform_page;
      }

      // Remove any space so the menu butts right up against the page edge.
      .l-pr {
        margin: 0;
        padding: 0;
      }

      .rm-block__content {
        opacity: 1;
        display: block;
        width: $width;
        position: absolute;
        top: 0;
      }
    }
  }
}
